body {
    text-align:center
   }
   
   nav li{
     color:white;
     display:inline;
     padding:10px;
   }
   .as{
     background-color:#f2f
   }
   button{
     background-color:#f2f;
       border-radius:50px;
   }
   footer{
     background-color:#f2f;
     height:50px;
     color:white;
       padding:30px;
     
   }
   